<div class="row">
  <div class="col-md-12">
    <h1>Ajouter un grade</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <form action="<%= grades_path %>" method="post">
      <div class="form-group">
        <label for="gradeName">Nom du grade</label>
        <input type="text" name="name" class="form-control" id="gradeName" placeholder="Ex : Développeur">
      </div>
      <div class="form-group">
        <label for="gradeAlias">Alias du grade</label>
        <input type="text" name="alias" class="form-control" id="gradeAlias" placeholder="Ex : Sailor">
      </div>
      <div class="form-group">
        <label for="gradeDescription">Description du grade</label>
        <input type="textarea" name="description" class="form-control" id="gradeDescription" placeholder="Remplissez ce champs par une description du grade">
      </div>
      <button type="submit" class="btn btn-default">Ajouter</button>
    </form>
  </div>
</div>
