<div class="nav-header">
  <a class="btn btn-primary btn-sm" href="<%= astronauts_path %>"><span class="glyphicon glyphicon-chevron-left"></span>
    Retour</a>
  <h3>Éditer astronaut <%= @astronaut.name %></h3>
</div>

<%= render 'form' %>