<div class="nav-header">
  <a class="btn btn-primary btn-sm" href="<%= planets_path %>"><span class="glyphicon glyphicon-chevron-left"></span>
    Back</a>
  <h3>Edit the planet <%= @planet.name %></h3>
</div>

<%= render 'form' %>