<div class="nav-header">
  <a class="btn btn-primary btn-sm" href="<%= planets_path %>"><span class="glyphicon glyphicon-chevron-left"></span> Retour</a>
  <h3>Nouvelle planete</h3>
</div>

<%= render 'form' %>
