<h1>
  This is the homepage of the projet
  <%= Rails.application.class.parent_name %> !
</h1>

<% pie_chart [["Football", 10], ["Basketball", 5]] %>

<% if @expedition.present? %>
  <p>An expedition is in progress until the <%= @expedition.end_date.to_formatted_s('%B %d %Y') %></p>
<% else %>
  <p>No expedition in progress, you can start one here : </p>
  <a href="<%= new_expedition_path %>" type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Start an expedition
  </a>
<% end %>
