@import "bootstrap-sprockets";
@import "bootstrap";
@import "daterangepicker-bs3";
@import "select2";
@import "select2-bootstrap";
@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";


body {
  color: white;
  font-family: helvetica, verdana, arial, sans-serif;
  font-size: 13px;
  background: image-url('background.jpg') no-repeat;
  background-size: 100%;
}

.daterangepicker {
  color: #999;
}

h1 {
  text-align: center;
}

.well {
  background-color: rgba(0, 0, 0, 0);
}

table {
  background-color: #FFF;
  color: #000;
}

.dataTables_scrollHead table {
  border-radius: 5px 5px 0 0;
}

.dataTables_scrollFoot table {
  border-radius: 0 0 5px 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.btn{
  color: black;
}