<div class="row">
  <div class="col-md-12">
    <h1>Name : <%= @report.name %></h1>
    <p>Description : <%= @report.description %></p>
    <p>Astronaut : <%= @report.astronaut.nil? ? '&empty;' : @report.astronaut.name %></p>
  </div>
</div>