<div class="row">
  <div class="col-md-12">
    <h1>Name : <%= @report.name %></h1>
    <p>Description : <%= @report.description %></p>
    <p>Astronaut :
      <% astronaut = @report.astronaut %>
      <% if astronaut.nil? %>
        Non défini.
      <% else %>
        <%= astronaut.name %>
      <% end %>
    </p>
  </div>
</div>